.newArrivals {
    padding-top: 46px;
    padding-bottom: 46px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
}

.productList {
    display: flex;
    width: 100%;
    gap: 1px;
}

.productList>* {
    flex: 1;
    min-width: 0;
}

@media (max-width: 768px) {
    .productList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
    }
}