.visualSearchContainer {
    width: 650px;
    height: 650px;
    background-color: var(--white);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>h3 {
    font-size: 18px;
    font-weight: 500;
}

.header>svg {
    cursor: pointer;
}

.input {
    width: 100%;
    flex: 1;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.content>p {
    font-size: 18px;
    font-weight: 400;
}

.content>p>span {
    color: var(--dark-gray);
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
}

.note {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

.note>p {
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-gray);
}