.footer {
    background-color: var(--brown);
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.cols {
    display: flex;
    justify-content: space-between;
}

.col1,
.col2,
.col3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


.col2and3 {
    display: flex;
    gap: 150px;
}

.sAndC {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.social {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
}



.copyright {
    color: var(--white);
    font-size: 24px;
}

.logo {
    width: 100%;
    max-width: 1540px;
    margin-inline: auto;
}

@media (max-width: 768px) {
    .footer {
        gap: 80px;
        padding: 20px;
    }

    .cols {
        flex-direction: column;
        gap: 50px;
    }

    .link {
        font-size: 18px;
    }

    .col1,
    .col2,
    .col3 {
        gap: 15px;
    }

    .col2and3 {
        justify-content: space-between;
        gap: 0;
    }

    .sAndC {
        flex-direction: column;
        gap: 20px;
    }

    .social,
    .copyright {
        font-size: 18px;
    }

    .logo {
        width: 100%;
        max-width: 380px;
    }
}