.footer {
    background-color: var(--brown);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.cols {
    display: flex;
    justify-content: space-between;
}

.col1, .col2, .col3 {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.link {
    color: var(--white);
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}


.col2and3 {
    display: flex;
    gap: 150px;
}

.sAndC {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.social {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--white);
    cursor: pointer;
}



.copyright {
    color: var(--white);
    font-size: 24px;
}

.logo {
    width: 1540px;
    margin-inline: auto;
}

@media (max-width: 768px) {
    .footer {
        gap: 80px;
    }

    .cols {
        flex-direction: column;
        gap: 50px;
    }

    .link {
        font-size: 18px;
    }

    .col1, .col2, .col3 {
        gap: 15px;
    }

    .sAndC {
        flex-direction: column;
        gap: 20px;
    }

    .social, .copyright {
        font-size: 20px;
    }

    .logo {
        width: 380px;
    }
}