.ourPartners {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    overflow: hidden;
}

.title {
    
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Space Mono", monospace;
    font-weight: 700;
}

.title h1 {
    cursor: pointer;
    user-select: none;
}


/* Style cho các ký tự được split */
.title :global(.char) {
    display: inline-block;
}

.logosContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.logos {
    display: inline-flex;
    align-items: center;
    gap: 100px;
    animation: scroll 90s linear infinite;
    width: fit-content;
}

.logos > img {
    width: 250px;
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.logos:hover {
    animation-play-state: paused;
}

@media (max-width: 768px) {
    .title > h1 {
        font-size: 50px;
    }
    
    .logos {
        gap: 50px;
        animation: scroll 20s linear infinite;
    }
    
    .logos > img {
        width: 100px;
    }
}