.productCheckout {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--gray);
}

.productImage {
    width: 200px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.box1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.productName {
    font-size: 22px;
    font-weight: 500;
}

.productDetail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
}

.sizeQtyEdit {
    display: flex;
    gap: 15px;
    font-size: 14px;
    font-weight: 400;
}

.editButton,
.deleteButton {
    cursor: pointer;
    position: relative;
    font-size: 14px;
}

.editButton::before,
.deleteButton::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 0% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.editButton:hover::before,
.deleteButton:hover::before {
    transform: scale3d(1, 1, 1);
}

.editButton::after,
.deleteButton::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: calc(100% + 4px);
    left: 0;
    pointer-events: none;
    transition: transform 0.3s;
    transform-origin: 100% 50%;
}

.editButton:hover::after,
.deleteButton:hover::after {
    transform: scale3d(0, 1, 1);
}

.box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productPrice {
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 768px) {


    .box1 {
        gap: 10px;
    }

    .productName {
        font-size: 16px;
    }

    .productDetail,
    .sizeQtyEdit,
    .editButton,
    .deleteButton {
        font-size: 12px;
    }

    .productPrice {
        font-size: 16px;
    }

    .sizeQtyEdit {
        gap: 10px;
    }
}