.scarfCard {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin: 0; /* Đảm bảo không có margin */
    padding: 0; /* Đảm bảo không có padding */
}

.imageWrapper {
    width: 100%;
    height: 540px;
    overflow: hidden;
    margin: 0;
}

.imageWrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    display: block; /* Loại bỏ khoảng trắng dưới img */
}


.scarfInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    margin: 0;
}

.scarfName, 
.scarfPrice {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

@media (max-width: 768px) {
    
    .imageWrapper {
        height: 340px;
    }
    
    .scarfName, 
    .scarfPrice {
        font-size: 12px;
    }
    
    .scarfInfo {
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}