.scarfCard {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.imageWrapper {
    width: 100%;
    height: 540px;
    overflow: hidden;
    margin: 0;
    position: relative;
}


.imageDefault {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
    opacity: 1;
    z-index: 1;
}

.imageHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.imageDefault,
.imageHover {
    will-change: opacity;
}

.scarfCard:hover .imageDefault {
    opacity: 0;
}

.scarfCard:hover .imageHover {
    opacity: 1;
}

.scarfInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    margin: 0;
    gap: 15px;
}

.scarfName,
.scarfPrice {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.scarfName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
    min-width: 0;
}

.scarfPrice {
    flex-shrink: 0;
}

.colorVariants {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 25px 15px 25px;
}

.colorVariants>p {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}

.color {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    border: 0.1px solid var(--black);
}

.active::before,
.color::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    background-color: var(--black);
}

.active::before {
    height: 1px;
}

.color:hover::before {
    height: 1px;
}

.moreColors {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}

@media (max-width: 768px) {
    .imageWrapper {
        height: 340px;
    }

    .scarfName,
    .scarfPrice {
        font-size: 12px;
    }

    .scarfInfo {
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .colorVariants {
        padding: 0 10px 10px 10px;
    }

    .color {
        width: 13px;
        height: 13px;
    }
}