.introduction {
    background-color: var(--white);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.title {
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    color: var(--black);
    opacity: 0;
    /* GSAP will animate this */
}

.introCards {
    width: 100%;
    height: 580px;
    position: relative;
    overflow: hidden;
    cursor: grab;
}

.introCards:active {
    cursor: grabbing;
}

.introCard {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 460px;
    height: 100%;
}

.introCard>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    /* Prevent image dragging */
    user-select: none;
}

@media (max-width: 768px) {
    .introduction {
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 40px;
    }

    .title {
        font-size: 30px;
    }

    .introCards {
        height: 380px;
    }

    .introCard {
        width: 300px;
        height: 100%;
    }
}