.bag {
    position: fixed;
    right: 0;
    background-color: var(--white);
    padding: 0 20px 40px 20px;
    z-index: 100;
}

.backdrop {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
}

.emptyText {
    font-size: 18px;
    color: var(--black);
    padding: 20px 0;
    width: 300px;
}


.productList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 400px;
    overflow-y: auto;
    overscroll-behavior: contain;
    padding: 0 20px;
}

.product {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product>img {
    width: 150px;
    height: auto;
}

.productName,
.productQuantity,
.productPrice {
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
}

.bagContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.totalPrice {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    padding: 0 20px;
}

.checkoutButton {
    padding: 0 20px;
}

.checkoutButton>button {
    width: 100%;
    background-color: var(--white);
    font-size: 18px;
    font-weight: 400;
    color: var(--brown);
    padding: 5px;
    cursor: pointer;
    border: 1px solid var(--brown);
    transition: 0.3s
}

.checkoutButton>button:hover {
    background-color: var(--brown);
    color: var(--white);
}


@media (max-width: 768px) {
    .bag {
        display: none;
    }

    .backdrop {
        display: none;
    }
}

/* Tùy chỉnh thanh cuộn cho Webkit browsers (Chrome, Safari, Edge) */
.productList::-webkit-scrollbar {
    width: 6px;
    /* Độ rộng thanh cuộn */
}

.productList::-webkit-scrollbar-track {
    background: transparent;
    /* Màu nền track */
}

.productList::-webkit-scrollbar-thumb {
    background-color: var(--black);
    /* Màu thanh cuộn */
    border-radius: 2px;
    /* Bo tròn */
}

/* Tùy chọn: Style khi hover vào thanh cuộn */
.productList::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}