.footer {
    padding: 100px 145px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--gray);
}

.col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col>p {
    font-size: 18px;
    cursor: pointer;
}

.phone,
.email,
.privacy {
    text-decoration: underline;
    text-underline-offset: 5px;
}


.verifications {
    display: flex;
    gap: 10px;
}

.verifications>img {
    width: 50px;
    height: auto;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 768px) {
    .footer {
        padding: 50px 10px;
        flex-direction: column;
        gap: 100px;
    }

    .col>p {
        font-size: 16px;
    }

    br {
        display: none;
    }
}