.colourVarients {
    background-color: var(--white);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
    width: 30vw;
    height: 100vh;
    overflow: hidden;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1999;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header>p {
    font-weight: 500;
}

.header>svg {
    cursor: pointer;
}


.productVarients {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    height: calc(100vh - 80px);
    scrollbar-width: thin;
    scrollbar-color: #ccc #f5f5f5;
    gap: 0;
}


.productVarients::-webkit-scrollbar-track {
    background: #f5f5f5;
}

.productVarients::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.info {
    padding: 10px 20px;
}

.colour {
    font-size: 16px;
    width: fit-content;
    white-space: nowrap;
    position: relative;
}

.colour::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    pointer-events: none;
    background-color: var(--black);
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.card:hover .colour::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.active::before {
    transform: scale3d(1, 1, 1);
}

@media (max-width: 768px) {
    .colourVarients {
        width: 100vw;
    }
}