.loaderOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loaderOverlay.hidden {
    display: none;
}

.pageContent.loading {
    opacity: 0;
}

.pageContent.visible {
    opacity: 1;
}
