.ourPartners {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    overflow: hidden;
}

.title {

    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Space Mono", monospace;
    font-weight: 700;
}

.title h1 {
    cursor: pointer;
    user-select: none;
}


/* Style cho các ký tự được split */
.title :global(.char) {
    display: inline-block;
}

.logosContainer {
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
    cursor: grab;
}

.logosContainer:active {
    cursor: grabbing;
}

.logoItem {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100%;
}

.logoItem>img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
}

@media (max-width: 768px) {
    .title>h1 {
        font-size: 50px;
    }

    .logosContainer {
        height: 60px;
    }

    .logoItem {
        width: 100px;
    }
}