.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    cursor: pointer;
}

.searchContainer {
    background-color: var(--white);
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 550;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow-y: hidden;
}

.inputWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--black);
}

.inputWrapper>input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
    font-family: 'Satoshi', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.inputWrapper>svg {
    width: 20px;
}

.inputWrapper>input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result {
    font-weight: 400;
    color: var(--black);
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.2s;
    font-size: 16px;
}

.result:hover {
    opacity: 0.7;
}

.searchStatus {
    font-weight: 400;
    color: var(--black);
    opacity: 0.6;
    font-size: 16px;
    margin: 0;
}

@media (max-width: 768px) {
    .searchContainer {
        padding: 20px;
        gap: 40px;
    }

    .inputWrapper {
        padding: 10px 0;
    }

    .inputWrapper>input {
        font-size: 16px;
    }

    .inputWrapper>input::placeholder {
        font-size: 16px;
    }

    .result {
        font-size: 16px;
    }

    .inputWrapper>svg {
        width: 24px;
        height: 12px;
    }
}